{% extends "base_template.html" %}

{% block title %}Out of the Darj - Classes{% endblock %}

{% block navigation_tabs %}
    <li><a href="/"><span>Home</span></a></li>
    <li><a href="/classes/"><span>Classes</span></a></li>
    <li><a href="/events/"><span>Events</span></a></li>
    <li><a href="/rhythms/"><span>Rhythms</span></a></li>
    <li id="current"><a href="/av/"><span>Media</span></a></li>
    <li><a href="/about/"><span>About Us</span></a></li>
{% endblock %}

{% block content_left %}
    <div id="topimage">
    Audio & Video Clips
    </div>
    <div id="midcont">
        {% for av in av_list %}
            {% ifchanged av.category %}
                <p><strong>{{ av.category }}</strong></p>
            {% endifchanged %}
            {% ifnotequal av.name "Featured Video" %}
                <p><a href="{{ av.link }}" target="_blank">{{ av.name }}</a></p>
            {% endifnotequal %}
        {% endfor %}
    </div>
{% endblock %}


{% block content_right %}
    <h1>This Month's Featured Video:</h1><br>
    {% for av in av_list %}
        {% ifequal av.name "Featured Video" %}
        <p>
        {{ av.link|safe }}
        </p>
        {% endifequal %}
    {% endfor %}
{% endblock %}
    
