{% extends "base_template.html" %}

{% block title %}Out of the Darj - Classes{% endblock %}

{% block navigation_tabs %}
	<li><a href="/"><span>Home</span></a></li>
    <li><a href="/classes/"><span>Classes</span></a></li>
    <li><a href="/events/"><span>Events</span></a></li>
    <li><a href="/rhythms/"><span>Rhythms</span></a></li>
    <li id="current"><a href="/av/"><span>Media</span></a></li>
    <li><a href="/about/"><span>About Us</span></a></li>
{% endblock %}

{% block content_left %}

{% endblock %}


{% block content_right %}
    <h1>Coming Soon!<br> 
        Audio, Video, and Photos.</h1>
{% endblock %}
    
